
body{
    background-color:darkturquoise ;
}
.container {
    display: flexbox;
}

h1 {
    margin-top: 5px;
    font-size: 70px;
    margin-bottom: 100px;
    color:rgba(42, 42, 255, 0.907);
}

.add {
    margin-top: 50px;
    font-size: 100px;
    padding: 20px;
    background-color:deeppink;
}

h2 {
    margin-top: 150px;
    font-size: 100px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}


.sub {
    margin-top: 50px;
    margin-left: 150px;
    font-size: 100px;
    background-color: deeppink;
    padding: 20px;
}


.clear {
    margin-top: 50px;
    font-size: 50px;
    margin-left: 130px;
    padding: 20px;
    background-color:dodgerblue;
}

h3{
    margin-top: 100px;
    font-size: 40px;
    color: greenyellow;
}